<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BugBuddy</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between items-center px-5 py-3">
        <a href="/" class="text-xl font-bold">Bug<span class="text-blue-500">Buddy</span></a>
      <% var loggedin = typeof loggedin !== "undefined" ? loggedin : true %>
      <% if(loggedin) { %>
        <ul class="flex gap-5 items-center">
        <a href="/shop">Shop</a>
        <a href="">Card</a>
        <a href="">My Account</a>
        <a class="bg-red-500 text-white p-1 rounded-lg" href="/users/logout">Logout</a>
       </ul>
       <% } %>
    </nav>